/* Styling for the entire website */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4efe9;
  color: #a52b2a;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* Styling for header + navigaiton */

header {
  background-color: #a52b2a;
  padding: 15px 0;
}

nav {
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
}



h1, h2 {
  text-align: center;
}

/* Image Styling */

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 3px solid #a52b2a;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #a52b2a;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #d7ccc8;
}




input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #6f4e37;
  border-radius: 4px;
}
